name: CI - Go Services

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  go-backend:
    name: Backend Go - build & test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend-go
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('backend-go/**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Download deps
        run: go mod download

      - name: Lint
        uses: golangci/golangci-lint-action@v4
        with:
          version: v1.58.2
          working-directory: backend-go
          args: --timeout=5m

      - name: Vet
        run: go vet ./...

      - name: Build
        run: go build ./...

      - name: Test
        run: go test ./... -v

  go-gateway:
    name: API Gateway - build & test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: api-gateway-go
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('api-gateway-go/**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Download deps
        run: go mod download

      - name: Lint
        uses: golangci/golangci-lint-action@v4
        with:
          version: v1.58.2
          working-directory: api-gateway-go
          args: --timeout=5m

      - name: Vet
        run: go vet ./...

      - name: Build
        run: go build ./...

      - name: Test
        run: go test ./... -v